In [1]:
import pandas as pd

Creating pandas dataframe

1. Using lists

In [2]:
pd.DataFrame([['badam',1000,'brown'],
              ['Kaju',1500,'white'],
              ['Pista',500,'green']],
              index=['a','b','c'],
              columns=['sweet','price','color'])

   sweet  price  color
a  badam   1000  brown
b   Kaju   1500  white
c  Pista    500  green

2. Using Dictionary

In [3]:
pd.DataFrame({'e1':['badam',1000,'brown'],
              'e2':['Kaju',1500,'white'],
              'e3':['Pista',500,'green']},
              index=['a','b','c'])

      e1     e2     e3
a  badam   Kaju  Pista
b   1000   1500    500
c  brown  white  green

Exporting dataframes

In [5]:
data = [['badam',1000,'brown'],
        ['Kaju',1500,'white'],
        ['Pista',500,'green']]

index = ['a','b','c']
columns= ['sweet','price','color']

df = pd.DataFrame(data ,
              index=index,
              columns=columns)
df

   sweet  price  color
a  badam   1000  brown
b   Kaju   1500  white
c  Pista    500  green

In [7]:
df.to_excel("sweets.xlsx")
df.to_json("sweets.json")
df.to_csv("sweets.csv")

Read dataframes from different files

In [ ]:
df = pd.read_excel('sweets.xlsx')
df = pd.read_csv('sweets.csv')
df = pd.read_json('sweets.json')

Read dataframe from remote csv

In [9]:
path="https://raw.githubusercontent.com/rajeevratan84/datascienceforbusiness/refs/heads/master/titanic.csv"
df = pd.read_csv(path)
df.head()

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,1
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,1
2,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,0
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,0
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,0