In [13]:
import pandas as pd

Series

In [14]:
pd.Series(['iron man','captain america','hulk'], 
                    index=["a",'b','c'])

a           iron man
b    captain america
c               hulk
dtype: object

Named series

In [15]:
pd.Series(['iron man','captain america','hulk'], 
          index=["a",'b','c'],
          name="super heros")

a           iron man
b    captain america
c               hulk
Name: super heros, dtype: object

Series with dictionary

In [16]:
pd.Series({'a':33,'b':44,'c':40},dtype=float)

a    33.0
b    44.0
c    40.0
dtype: float64

In [17]:
pd.Series({'a':10,'b':20,'c':30})

a    10
b    20
c    30
dtype: int64

Changing the values in series

In [18]:
series1 = pd.Series({'a':10,'b':20,'c':30})
series1['a']=55
series1

a    55
b    20
c    30
dtype: int64

Deepcopy of series ( series -> series)

In [24]:
series1 = pd.Series({'a':10,'b':20,'c':30})
series2 = pd.Series(series1, copy=True)

series2['a'] = 40
print(series1, series2, sep="\n")

a    10
b    20
c    30
dtype: int64
a    40
b    20
c    30
dtype: int64